body {
    background: cadetblue;
}

table {
    margin: auto;
    border: 1px solid black;

}

tr {
    border: 2px solid black;
}

td {
    background-color: #56a0d3;
    padding: 0px 10px;
    border: 2px solid black;
    width: 400px;
    height: 300px;
}

th {
    background-color: lightgrey;
    border: 5px solid black;
}

h3 {
    text-align: center;
}

img {
    border-radius: 5px;
    maxwidth: 450pc;
}

.faves {
    color: #b31b1b;
}

.notfaves {
    color: blue;
}