body {
	font-size: 16px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
  background: #333;;
  border: 0;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;
}

img { max-width: 100%; }

