header {
    background-color: grey;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
}

h1 {
    position: relative;
    left: 15px;
    margin: 10px;
    text-align: center;

}

h2 {
    text-align: center;
}
p {
    font-family: 'Source Code Pro', monospace;
}

body {
    background-color: grey;
}

.img1, .img2, .img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

