body {
    background-color: azure;
}
img {
    margin: 15px;
    text-align: left;
    display: inline-block;
}

h1 {
    text-align: center;
}

h2 {
    display: inline-block;
    color: #727472;
}

.sidebar-container {
    background-color: #00bfff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 250;
    border: 2px solid black;
    width:fit-content;
}

.sidebar-component {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: azure;
    border: 4px solid black;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
}
